/* Projects Section */
.project-card {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    transition: transform var(--transition-speed);
    cursor: pointer;
}
  
.project-card:hover {
    transform: translateY(-5px);
}
  
.project-card h3 {
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}
  
.project-details {
    margin-top: 1rem;
}
  
.project-details ul {
    list-style-type: none;
    margin-top: 0.5rem;
}
  
.project-details li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}
  
.project-details li::before {
    content: '•';
    position: absolute;
    left: 0.5rem;
    color: var(--accent-color);
}
